html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
  font-size: 15px;
}
@media screen and (min-width: 480px) {
  html {
    font-size: calc(15px + 2 * (100vw - 480px) / 960);
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 17px;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  text-rendering: optimizeLegibility;
  text-align: left;
  background: radial-gradient(circle, #28283c, #16161d);
  overflow-x: hidden;
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.space-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: space-evenly;
  -ms-flex-align: space-evenly;
  align-items: space-evenly;
}
[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-family: 'Cormorant Garamond';
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
h1 {
  font-size: 2.5rem;
  line-height: 1;
}
h2 {
  font-size: 2rem;
  line-height: 1.2;
}
h3 {
  font-size: 1.75rem;
  line-height: 1.4;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.4;
}
h5 {
  font-size: 1.25rem;
  line-height: 1.4;
}
h6 {
  font-size: 1rem;
  line-height: 1.4;
}
p {
  display: block;
  margin-top: 0;
  margin-bottom: 24px;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul {
  padding-left: 0;
  list-style: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 400;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: bolder;
}
.small {
  font-size: 0.875rem;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #007bff;
  text-decoration: underline;
  background-color: transparent;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
a:hover {
  color: #007bff;
  text-decoration: none;
  border-color: transparent;
}
a.link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: -webkit-clip-path 275ms ease;
  transition: -webkit-clip-path 275ms ease;
  transition: clip-path 275ms ease;
  transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
}
a.link:hover span::before,
a.link:focus span::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
a.link span {
  position: relative;
  display: inline-block;
  color: #007bff;
}
a.link span::before {
  position: absolute;
  content: attr(data-content);
  color: #0062cc;
  text-decoration: underline;
  -webkit-text-decoration-color: #0062cc;
  text-decoration-color: #0062cc;
  -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  -webkit-transition: -webkit-clip-path 275ms ease;
  transition: -webkit-clip-path 275ms ease;
  transition: clip-path 275ms ease;
  transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
pre,
code,
kbd,
samp {
  font-family: 'Fira Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}
pre {
  margin: 60px 0 0 0;
  padding: 20px 24px;
  border-radius: 15px;
  background: #171827;
}
pre code {
  color: #bbc1e1;
  line-height: 1.4;
  font-size: 12px;
}
pre code .token.function {
  color: #5c86ff;
}
pre code .token.string {
  color: #f0b849;
}
pre code .token.parameter {
  color: #cb7dd0;
}
pre code .token.punctuation {
  color: #8a91b4;
}
img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
svg:not([fill]) {
  fill: currentColor;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
select {
  word-wrap: normal;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type='radio'],
input[type='checkbox'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.no-touch {
  -ms-touch-action: none;
  touch-action: none;
}
html {
  font-size: 15px;
}
@media screen and (min-width: 480px) {
  html {
    font-size: calc(15px + 2 * (100vw - 480px) / 960);
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 17px;
  }
}
.page {
  position: relative;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 48px 24px;
}
@media (max-width: 575px) {
  .page {
    padding: 48px 12px;
  }
}
h1 {
  margin-bottom: 12px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.6), 1px 1px rgba(0, 0, 0, 0.6), 2px 2px rgba(0, 0, 0, 0.6),
    3px 3px rgba(0, 0, 0, 0.6);
  color: #f0eee1;
}
.wrapper {
  position: relative;
  padding: 10px;
  margin: 0 auto 12px;
  width: 400px;
  height: 40px;
}
.wrapper .item {
  visibility: hidden;
  display: none;
}
.wrapper div[data-text] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Cormorant Garamond';
  font-size: 1.2rem;
  color: #f5f9f1;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
hr {
  max-width: 300px;
  height: 1px;
  margin: 0 auto 36px;
  border: none;
  background: linear-gradient(30deg, #d367c1 10%, #dedf40 25%, #62cb5c 50%, #00bbcb 75%, #ab79d6 90%);
}
.input-field {
  display: block;
  width: 300px;
  position: relative;
  margin: 48px auto 24px;
}
.input-field input {
  display: block;
  width: 300px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: #9daed6;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #5264ae;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}
.input-field .bar {
  position: relative;
  display: block;
}
.input-field .bar::before,
.input-field .bar::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 0;
  bottom: 0;
  background: #9daed6;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.input-field .bar::before {
  left: 50%;
}
.input-field .bar::after {
  right: 50%;
}
.input-field label {
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #5264ae;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.75;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.input-field input:-internal-autofill-selected {
  background-color: transparent;
}
.input-field input:focus ~ .bar::before,
.input-field input:focus ~ .bar::after {
  width: 50%;
}
.input-field input:focus ~ label,
.input-field input:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: #9daed6;
  opacity: 1;
}
@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.input-field input:invalid {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem #ff0000;
}
.countryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem 0 2rem;
}
.countryList .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc((100% / 3) - 2rem);
  flex: 0 1 calc((100% / 3) - 2rem);
  margin: 0.5rem;
  padding: 24px;
  color: #fff;
  background-color: #1d1d31;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.countryList .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 270ms all ease-in-out;
  transition: 270ms all ease-in-out;
  border-radius: 8px;
  background: linear-gradient(30deg, #d367c1 10%, #dedf40 25%, #62cb5c 50%, #00bbcb 75%, #ab79d6 90%);
  z-index: -1;
}
.countryList .card:hover::before {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
@media (max-width: 767px) {
  .countryList .card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc((100% / 2) - 1rem);
    flex: 0 1 calc((100% / 2) - 1rem);
  }
}
@media (max-width: 575px) {
  .countryList .card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(100% - 1rem);
    flex: 0 1 calc(100% - 1rem);
  }
}
.card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  min-height: 84px;
  margin-bottom: 1rem;
}
.card-top .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #68aae4;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 1px;
}
.card-top img {
  width: 30%;
  padding: 3px;
  margin-left: 1rem;
  background-color: #303051;
}
.card-data {
  color: rgba(255, 255, 255, 0.75);
}
.card-data .currency #currencyData {
  display: none;
}
.card-data .currency span {
  cursor: pointer;
  color: #4562f5;
}
.card-data .population span,
.card-data .area span,
.card-data .countryCode span,
.card-data .time span {
  color: #9daed6;
}
.capitalCity .capitalName {
  cursor: pointer;
  color: #4562f5;
}
.capitalCity #capitalWeather {
  display: none;
  margin: 8px 0;
  padding: 24px;
  color: #fff;
  background-color: #1c1c2d;
  border-radius: 6px;
  -webkit-box-shadow: inset 1px 1px 3px #121212, inset 2px 2px 6px #121212;
  box-shadow: inset 1px 1px 3px #121212, inset 2px 2px 6px #121212;
}
.capitalCity #capitalWeather .city-temp {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: right;
}
.capitalCity #capitalWeather figure figcaption {
  margin-top: 12px;
  text-transform: uppercase;
}
.capitalCity.active #capitalWeather {
  display: block;
}
.currency.currency-open #currencyData {
  display: block;
  margin: 8px 0;
  padding: 12px 24px;
  color: #fff;
  background-color: #1c1c2d;
  border-radius: 6px;
  -webkit-box-shadow: inset 1px 1px 3px #121212, inset 2px 2px 6px #121212;
  box-shadow: inset 1px 1px 3px #121212, inset 2px 2px 6px #121212;
}
.currency.currency-open #currencyData span {
  color: #9daed6;
}
